PORT=5000
MONGO_URI=mongodb://localhost:27017/synapse
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecretjwtkey_override_in_prod
FRONTEND_URL=http://localhost:3000

# Next-Gen AI Configuration
AI_SERVICE_URL=http://localhost:8000
GROQ_API_KEY=

# Internal Integrations (OAuth / APIs)
GMAIL_USER=
GMAIL_APP_PASS=
SLACK_BOT_TOKEN=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
